@import "tailwindcss";


@theme inline {
  --font-plusJarkarta: var(--font-plus-jakarta);
  --color-primary: #121217;
  --color-secondary: ;
  --color-accent: ;
}

:root {
  --background: var(--color-primary);
  --foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plusJarkarta),Arial, Helvetica, sans-serif;
}
